body{
	background: url(../img/o-CALENDAR-facebook.jpg) no-repeat;
	background-attachment: fixed;
}
.bodyList{
	background-color: rgba(255, 255, 255, .7);
}
.marginClass{
	margin-top: 60px;
	margin-bottom: 30px;
	border-radius: 5px;
	border: 1px solid #C9C9C9;
	text-align: center;
}
.hr{
	border-top: 1px dotted #C9C9C9;
	padding-top: 5px;
	padding-bottom: 5px;
}
.h2margin{
	margin-top: 30px;
	margin-bottom: 30px;
}
.no_padding{
	padding-right: 0;
	padding-left: 0;
}
.full_width{
	width: 100%;
}
.btn-param{
	height: 30px;
	width: 49%;
	float: left;
}
.btn-param-info{
	width: 90%;
	height: 60px;
}
.timeInOut{
	padding: 0;
}
.timeIndication{
	border: 1px solid #C9C9C9;
	width: 49%;
	height: 30px;
	display: inline-block;
	float: left;
}
.workerInfo, .checkboxStyle{
	line-height: 60px;
}
.workerInfo{
	font-size: 20px;
}