<div class="bodyListAdd">
	<div class="bodyListAddContent">
		<h2><i class="fa fa-user" aria-hidden="true"></i>Enter information:</h2>
		<hr/>
		<div class="input-group full_width">
	      <div class="input-group-addon minWidth90">Surname:</div>
	      <input type="text" class="form-control" placeholder="Surname...">
	    </div>
    	<div class="input-group full_width">
          <div class="input-group-addon minWidth90">Name:</div>
          <input type="text" class="form-control" placeholder="Name...">
        </div>
    	<div class="input-group full_width">
          <div class="input-group-addon minWidth90"><i class="fa fa-calendar" aria-hidden="true"></i> Birthday:</div>
          <input class="form-control" ng-model="selectedDate" name="date" bs-datepicker type="text" placeholder="Click to pick...">
        </div>
        <div class="input-group full_width">
          <div class="input-group-addon minWidth90"><i class="fa fa-phone" aria-hidden="true"></i> Phone:</div>
          <input type="text" class="form-control" placeholder="Phone...">
        </div>
        <div class="input-group full_width">
          <div class="input-group-addon minWidth90"><i class="fa fa-envelope" aria-hidden="true"></i> Mail:</div>
          <input type="text" class="form-control" placeholder="Mail...">
        </div>
        <div class="input-group full_width">
	      <div class="input-group-addon minWidth90">Sex:</div>
	      <select ng-model="workerSex" class="form-control">	      	
	      	<option selected="selected" disabled>Choose your sex...</option>
	      	<option value="mars">Male</option>
	      	<option value="venus">Fimale</option>
	      </select>
	    </div>	
	</div>
</div>